HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
.jpb

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Frontend ###
.env
node_modules
dist
.DS_Store
dist-server

### Log ###
backend/logs/**
backend/logs
logs/**


### API Documentation ###
backend/src/main/resources/static/api/docs/**

### Secret files ###
backend/src/main/resources/application-dev.yml
backend/src/main/resources/application-dev1.yml
backend/src/main/resources/application-dev2.yml
backend/src/main/resources/application-local.yml
backend/src/main/resources/application-prod.yml
backend/src/main/resources/application-prod1.yml
backend/src/main/resources/application-prod2.yml
backend/src/main/resources/aws-s3.yml
backend/src/apis/**
