<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="BOTOBO_LOG_PATTERN"
              value="%cyan(%d{yyyy-MM-dd HH:mm:ss}:%-4relative) %highlight(%-5level) %yellow([%C.%M]:%boldWhite(%L)]) %n    > %msg%n"/>

    <property name="BOTOBO_BINDER_LOG_PATTERN"
              value="%green(    > %msg%n) "/>

    <property name="BOTOBO_FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss}:%-4relative [%C.%M]:%L] %n    > %msg%n"/>

    <springProfile name="test, local, local-mariadb">
        <include resource="logback/console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <include resource="logback/info-file-appender.xml"/>
        <include resource="logback/warn-file-appender.xml"/>
        <include resource="logback/error-file-appender.xml"/>
        <include resource="logback/query-file-dev-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="WARN_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
            <appender-ref ref="QUERY_FILE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="logback/info-file-appender.xml"/>
        <include resource="logback/warn-file-appender.xml"/>
        <include resource="logback/error-file-appender.xml"/>
        <include resource="logback/query-file-prod-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="WARN_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
            <appender-ref ref="QUERY_FILE"/>
        </root>
    </springProfile>
</configuration>
